extends ../layout
block title
  | Internal Error - 3DSThemes.org
block container
  .col-lg-3.error-500
    img(src='/images/bricked.png')
  .col-lg-9
    h4 Oh, no!
    p It looks like something has happened with our server, don't worry though, everything will be back to normal soon enough!