extends layout
block container
  .alert.alert-success
    h4 Success
    p='A verification email has been sent to ' + regData.email + ' you won\'t be able to use your account until it\'s activated.'
