@font-face {
  font-family: '3DSThemesorg';
  font-weight: normal;
  font-style: normal;
  src: url('/css/fonts/3DSThemesorg.eot?vim1ps');
  src: url('/css/fonts/3DSThemesorg.eot?vim1ps#iefix') format('embedded-opentype'), url('/css/fonts/3DSThemesorg.ttf?vim1ps') format('truetype'), url('/css/fonts/3DSThemesorg.woff?vim1ps') format('woff'), url('/css/fonts/3DSThemesorg.svg?vim1ps#3DSThemesorg') format('svg');
}

[class*=' _3dsthemes-'],
[class^='_3dsthemes-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '3DSThemesorg' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._3dsthemes-logo-square,
._3dsthemes-logo-wide {
  position: relative;
}

._3dsthemes-logo-square:before,
._3dsthemes-logo-wide:before {
  position: absolute;
  top: 0;
  left: 0;
}

._3dsthemes-logo-square:after {
  content: '\e900';
}

._3dsthemes-logo-square:before {
  content: '\e901';
}

._3dsthemes-logo-wide:after {
  content: '\e903';
}

._3dsthemes-logo-wide:before {
  content: '\e902';
}
