html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Verify Yourself!
    style.
      @media all{.ExternalClass{width: 100%;}.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height: 100%;}.apple-link a{color: inherit !important; font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important; line-height: inherit !important; text-decoration: none !important;}.btn-primary table td:hover{background-color: #34495e !important;}.btn-primary a:hover{background-color: #34495e !important; border-color: #34495e !important;}}
  body(style='background-color:#f6f6f6;font-family:sans-serif;-webkit-font-smoothing:antialiased;font-size:14px;line-height:1.4;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;')
    table.body(border='0', cellpadding='0', cellspacing='0', style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;background-color:#f6f6f6;width:100%;')
      tr
        td(style='font-family:sans-serif;font-size:14px;vertical-align:top;')  
        td.container(style='font-family:sans-serif;font-size:14px;vertical-align:top;display:block;Margin:0 auto !important;max-width:580px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:580px;')
          .content(style='box-sizing:border-box;display:block;Margin:0 auto;max-width:580px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;')
            span.preheader(style='color:#f6f6f6;') Verify your email at 3DSThemes.org.
            table.main(style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;border-radius:12px;width:100%;')
              tr
                td.wrapper(style='font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;')
                  table(border='0', cellpadding='0', cellspacing='0', style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;')
                    tr
                      td(style='font-family:sans-serif;font-size:14px;vertical-align:top;')
                        br
                        img(src='https://i.imgur.com/pTQGUrt.png', style='border-style:none;-ms-interpolation-mode:bicubic;height:100%;max-height:100px;')
                        h2(style='color:#000000;font-family:sans-serif;font-weight:400;line-height:1.4;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:30px;') Verify your Email
                        p(style='font-family:sans-serif;font-size:14px;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:15px;')
                          | Welcome, #{regData.username}, to 3DSThemes.org!
                          br
                          | One last step before you can login to your account,
                          br
                          | please verify your email by clicking on the button below.
                        table.btn.btn-primary(border='0', cellpadding='0', cellspacing='0', style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;')
                          tbody
                            tr
                              td(align='left', style='font-family:sans-serif;font-size:14px;vertical-align:top;padding-bottom:15px;')
                                table(border='0', cellpadding='0', cellspacing='0', style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:auto;')
                                  tbody
                                    tr
                                      td(style='font-family:sans-serif;font-size:14px;vertical-align:top;border-radius:3px;text-align:center;background-color:#1d6482;')
                                        a(href='https://3dsthemes.org/account/activate/' + regData.username + '/' + regData.verificationCode, target='_blank', style='border-width:1px;border-style:solid;border-radius:3px;box-sizing:border-box;cursor:pointer;display:inline-block;font-size:14px;font-weight:bold;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:12px;padding-bottom:12px;padding-right:25px;padding-left:25px;text-decoration:none;text-transform:capitalize;background-color:#1d6482;border-color:#1d6482;color:#ffffff;') VERIFY EMAIL
                        p(style='font-family:sans-serif;font-size:14px;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:15px;') Can't click the button? Copy this link into your address bar:
                        p(style='font-family:sans-serif;font-size:14px;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:15px;')
                          | https://3dsthemes.org/account/activate/#{regData.username}/#{regData.verificationCode}
                        p(style='font-family:sans-serif;font-size:14px;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:15px;') Thank you for using 3DSThemes.org!
            .footer(style='clear:both;padding-top:10px;text-align:center;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', style='border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;')
                tr
                  td.content-block(style='font-family:sans-serif;vertical-align:top;color:#999999;font-size:12px;text-align:center;')
                    br
                    | This email was sent by
                    a(href='https://3DSThemes.org/', style='text-decoration:underline;color:#999999;font-size:12px;text-align:center;') 3DSThemes.org
                    | .
                    br
                    | If you didn't request this email, Just ignore it.
        td(style='font-family:sans-serif;font-size:14px;vertical-align:top;')  
